[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.110.1"
uvicorn = "==0.29.0"
mercadopago = "==2.2.1"
pymongo = "*"
pydantic = "*"
boto3 = "*"
python-dotenv = "*"
emails = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.19"
