.container {
    /* background-image: url('../assets/IMG_0571.png'); Imagem de fundo sobreposta */
    background-position: center top 0;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.4); /* Cor de fundo com transparência */
    /* height: 100vh; */
}

.overlay {
    background-color: rgba(255, 255, 255, 0.7);
    /* z-index: 1; */
    background-image: url('../assets/bg2.png');
}

.background-blur {
    background-color: rgba(255, 255, 255, 0.4);
}

.bg-2 {
    /* background-image: url('../assets/IMG_0571.png'); */
    background-position: center top 45%;
    background-size: cover;
    height: 60vh;
}